{{> navigationClassManage }}

<div class="container">
  <div
    id="js-class-uuid"
    hidden
    aria-hidden="true"
    data-class-uuid="{{class_uuid}}"
  >
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="mt-3 text-muted">Manage Class: {{className}}</h1>
    </div>
    <div class="col-12">
      <div class="text-muted">Class Password (for Student Login): {{classPassword}}</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow">
        <div class="card-header">Assign Task    |    Add Students    |     Add Coins</div>
        <div class="card-body">
          <div class="mb-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Assign Task</th>
                  <th scope="col">Student Name</th>
                  <th scope="col">Login Id</th>
                  <th scope="col">Task Status</th>
                  <th scope="col">Coin Count</th>
                  <th scope="col">Delete Student</th>
                </tr>
              </thead>
              <tbody>
                {{#each students}}
                  <tr>
                    {{!-- Checkbox --}}
                    <td class="checkbox">
                      <input type="checkbox" data-add='student' data-student-uuid='{{uuid}}'>
                    </td>
                    {{!-- Student's Name --}}
                    <td scope="row">{{name}}</td>
                    {{!-- student's 'assigned-by-teacher' ID --}}
                    <td>{{ student_id }}</td>
                    {{!-- Boolean of task if task finished --}}
                    <td>
                      {{#if Tasks}}
                        In-progess
                      {{/if}}
                      {{#unless Tasks}}
                        --
                      {{/unless}}
                    </td>
                    {{!-- Student's total coin count --}}
                    <td>
                      {{!-- Decrement Student Coin Count --}}
                      <button
                        type="button"
                        class="btn btn-outline-warning ml-1"
                        data-decrement-coins="student"
                        data-student-uuid='{{uuid}}'
                      >
                        <i
                          class="fas fa-minus"
                          data-student-uuid='{{uuid}}'
                        >
                        </i>
                      </button>
                      {{coin_count}}
                      {{!-- Increment Student Coin Count --}}
                      <button
                        type="button"
                        class="btn btn-outline-warning ml-1"
                        data-increment-coins="student"
                        data-student-uuid='{{uuid}}'
                      >
                        <i
                          class="fas fa-plus"
                          data-student-uuid='{{uuid}}'
                        >
                        </i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-outline-warning ml-1"
                        data-increment-coins="student"
                        data-student-uuid='{{uuid}}'
                      >
                        <i
                          class="fas fa-minus"
                          data-student-uuid='{{uuid}}'
                        >
                        </i>
                      </button>
                    </td>
                    <td>
                    <button
                      type="button"
                      class="btn btn-outline-danger my-2 my-sm-0"
                      data-delete="student"
                      data-id="{{uuid}}"
                      data-name="{{name}}"
                      data-toggle="modal"
                      data-target="#js-modal-student-delete"
                    >
                      <i
                        class="fas fa-trash-alt"
                        data-id="{{uuid}}"
                        data-name="{{name}}"
                      >
                      </i>
                    </button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            {{!-- Add student form --}}
            <form id="js-form-add-student">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-secondary text-white">Add Student Name</span>
                </div>
                <input
                  id="js-add-student-name"
                  type="text"
                  class="form-control js-class-add-student"
                  required
                >
                <div class="input-group-prepend">
                  <span class="input-group-text bg-secondary text-white">Add Login Id (for student)</span>
                </div>
                <input
                  id="js-add-student-id"
                  type="text"
                  class="form-control js-class-add-student"
                  required
                >
              </div>
            </form>
            {{!-- End 'Add student form' --}}
            <span>
              <button
                id="js-teacher-task-assign"
                type="button"
                class="btn btn-outline-success"
                data-toggle="modal"
                data-target="#js-modal-task-assignment"
                data-delete="class"
                disabled="true"
              >
                ASSIGN TASK(S)
              </button>
            </span>
            {{>modalAssignTasks}}
            {{> modalDeleteStudent }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
