<div 
  hidden 
  aria-hidden='true' 
  id='js-timer-raw-data'
  data-start-time='{{start_time}}'
  data-duration='{{timer_duration}}'
  data-uuid='{{uuid}}'
>
</div>

<div class="row">
  {{> studentDashboardHeader }}
</div>

{{!--
Backend will send in a `Tasks` object to .hbs that looks like this:
{
  uuid: asdfj34afk-hfjdgj-342432, // uuid for the task
  name: 'Math homework',
  timer_duration: 300, // 5 minutes ( unit = seconds )
  start_time: null, // or unix time ( ex. `1525881562712` )
  is_done: false, // backend will intentionally not send in tasks that are already done
  coin_value: 3,
  student_uuid: zxcvbnm34afk-hfjdgj-342432 // uuid for the student
}
--}}

<div class="student-dashboard-dash" id="container">
  <div class="row">
    {{>studentTimer}}
    <section>
      <div class="student-dashboard-right col-m-6">
        <div class="task-title">
          Task
        </div>
        {{#if name}}
        <div id="task-name">
          {{name}}
        </div>
        {{/if}}
        {{#if description}}
        <div id="task-description">
          {{description}}
        </div>
        {{/if}}
        <button class="task-done-btn text-align-center col-12">
          DONE!
        </button>
      </div>
    </section>
  </div>
</div>