<div 
  hidden 
  aria-hidden='true' 
  id='js-timer-raw-data'
  data-start-time='{{Tasks.start_time}}'
  data-duration='{{Tasks.timer_duration}}'
  data-uuid='{{Tasks.uuid}}'
>
</div>

<h3>Student's Coin Count: {{coins}}</h3>
<h3>Tasks Coin Count Value: {{Tasks.coin_value}}</h3>

<div class="row">
  {{> studentDashboardHeader }}
</div>

<div class="student-dashboard-dash" id="container">
  <div class="row">
    {{>studentTimer}}
    <section>
      <div class="student-dashboard-right col-m-6">
        <div class="task-title">
          Task
        </div>
        {{#if Tasks.name}}
        <div id="task-name">
          {{Tasks.name}}
        </div>
        {{/if}}
        {{#if Tasks.description}}
        <div id="task-description">
          {{Tasks.description}}
        </div>
        {{/if}}
        {{#if Tasks.name}}
        <button id="js-timer-done" class="task-done-btn text-align-center col-12">
          DONE!
        </button>
        {{/if}}
      </div>
    </section>
  </div>
</div>
<script src="/javascripts/dashboard_student.js"></script>